In [1]:
rm(list = ls())

setwd('~/Documents/work/SpnCarriage_Analysis/')

pkgs <- c('tidyverse', 'data.table','MultiAssayExperiment')
suppressPackageStartupMessages(sapply(pkgs, require, character.only = T))

           tidyverse           data.table MultiAssayExperiment
                TRUE                 TRUE                 TRUE

# Data
├── AGES  
│   └── Robj  
│       └── AGES_studyObj.rds  
├── LAIV1  
│   ├── rnaseq  
│   │   ├── LAIV1_rnaseq_data.tsv  
│   │   └── LAIV1_rnaseq_meta.tsv  
│   └── template.tsv  
├── LAIV2  
│   ├── LAIV2_rnaseq_data.tsv  
│   ├── LAIV2_rnaseq_meta.txt  
├── MIXED  
│   └── METADATA  
│       ├── all_vol_info.tsv  
│       ├── grouping_all_volunteers.tsv  
│       ├── metadata_LAIV1_2.tsv   
│       ├── template_nasal_cells.tsv  
│       ├── volunteer_grouping.tsv  
│       └── volunteer_info.tsv  
└── MUCOSAL  
└── rnaseq  
├── PILOT_rnaseq_data.tsv  
└── PILOT_rnaseq_meta.tsv

# Tidy data

## Mucosal

In [2]:
count_data <- fread('data//raw_data/MUCOSAL/rnaseq//PILOT_rnaseq_data.tsv') %>% data.frame(row.names = 1)

In [3]:
count_data[1:4,1:10]

                S00149245 S00149858 S00149406 S00150037 S00149384 S00149461
ENSG00000000003 3996      3121      4926      4836      3092      3978
ENSG00000000005    8        11         3         6         5         5
ENSG00000000419  671       715       867       781       764       685
ENSG00000000457  889      1022       989       881       869      1026
                S00149244 S00149859 S00149856 S00150011
ENSG00000000003 2331      1449      2333      2279
ENSG00000000005    7         9         4         2
ENSG00000000419  812       277       723       736
ENSG00000000457  940       780       848       724

In [4]:
pheno_data = fread('data//raw_data//MUCOSAL//rnaseq//PILOT_rnaseq_meta.tsv',data.table = F)
colnames(count_data) <- rownames(pheno_data) <- with(pheno_data, paste0(volunteer_id,'_',timepoint))
pheno_data = pheno_data %>% select(sample_id, volunteer_id, timepoint)
head(pheno_data)

                      sample_id volunteer_id timepoint
0100/015/007_baseline S00149245 0100/015/007 baseline
0100/015/007_D2       S00149858 0100/015/007 D2
0285/015/009_baseline S00149406 0285/015/009 baseline
0285/015/009_D2       S00150037 0285/015/009 D2
1000/015/002_D2       S00149384 1000/015/002 D2
1000/015/002_baseline S00149461 1000/015/002 baseline

In [5]:
rnaseq_exp = SummarizedExperiment(assays = count_data,colData = pheno_data)
rnaseq_exp

class: SummarizedExperiment
dim: 60554 27
metadata(0):
assays(1): ''
rownames(60554): ENSG00000000003 ENSG00000000005 ... ENSGR0000280767
  ENSGR0000281849
rowData names(0):
colnames(27): 0100/015/007_baseline 0100/015/007_D2 ...
  1019/015/023_baseline 1019/015/023_D2
colData names(3): sample_id volunteer_id timepoint

In [6]:
saveRDS(rnaseq_exp, 'data//tidy_data/MUCOSAL_rnaseq.rds')

## LAIV1

In [7]:
count_data <- fread('data//raw_data//LAIV1//rnaseq//LAIV1_rnaseq_data.tsv') %>% data.frame(row.names=1)

In [8]:
count_data[1:4,1:5]

                S00163703 S00162909 S00165160 S00156618 S00155297
ENSG00000000003 5541      5798      5080      3194      3047
ENSG00000000005    0         0         0         0         0
ENSG00000000419  981       979       743       681       544
ENSG00000000457  762       820       651       433       394

In [9]:
pheno_data = fread('data//raw_data//LAIV1//rnaseq/LAIV1_rnaseq_meta.tsv', data.table = F)
pheno_data = pheno_data %>% column_to_rownames('sample_id') %>% 
rename(sample_id_original = 'sample_id')  %>% select(sample_id, volunteer_id, timepoint)

In [10]:
head(pheno_data)

                      sample_id volunteer_id timepoint
0231/016/006_D2       S00163703 0231/016/006 D2
0231/016/006_baseline S00162909 0231/016/006 baseline
0231/016/006_D9       S00165160 0231/016/006 D9
1025/016/009_D9       S00156618 1025/016/009 D9
1025/016/009_D2       S00155297 1025/016/009 D2
1025/016/009_baseline S00154295 1025/016/009 baseline

In [11]:
colnames(count_data) <- rownames(pheno_data)

In [13]:
rnaseq_exp = SummarizedExperiment(assays = count_data, colData = pheno_data)
rnaseq_exp

class: SummarizedExperiment
dim: 60554 96
metadata(0):
assays(1): ''
rownames(60554): ENSG00000000003 ENSG00000000005 ... ENSGR0000280767
  ENSGR0000281849
rowData names(0):
colnames(96): 0231/016/006_D2 0231/016/006_baseline ... 1204/016/191_D2
  1204/016/191_D9
colData names(3): sample_id volunteer_id timepoint

In [14]:
saveRDS(rnaseq_exp,'data//tidy_data//LAIV1_rnaseq.rds')

## LAIV2

In [16]:
count_data <- fread('data/raw_data/LAIV2/LAIV2_rnaseq_data.tsv') %>% data.frame(row.names = 1)
count_data[1:4,1:5]

                S00196302A S00196303A S00196304A S00196305A S00196306A
ENSG00000000003 22181      16970      13263      9013       8202
ENSG00000000005     4          1          0         0          0
ENSG00000000419  2546       2716        883      1538       2654
ENSG00000000457  1360       1357       1001       902       1048

In [17]:
pheno_data <- fread('data//raw_data//LAIV2//LAIV2_rnaseq_meta.txt')
pheno_data = pheno_data %>%
    column_to_rownames('sample_id') %>% 
    rename(sample_id_original = "sample_id") %>% 
    select(sample_id, volunteer_id, timepoint)
head(pheno_data)

                      sample_id  volunteer_id timepoint
1409/019/047_D6       S00198890A 1409/019/047 D6
1409/019/047_baseline S00196312A 1409/019/047 baseline
1409/019/047_D9       S00217244A 1409/019/047 D9
1434/019/072_baseline S00196311A 1434/019/072 baseline
1434/019/072_D9       S00199344A 1434/019/072 D9
1434/019/072_D6       S00198891A 1434/019/072 D6

In [18]:
rnaseq_exp = SummarizedExperiment(assays = count_data, colData = pheno_data)
rnaseq_exp

class: SummarizedExperiment
dim: 60554 151
metadata(0):
assays(1): ''
rownames(60554): ENSG00000000003 ENSG00000000005 ... ENSGR0000280767
  ENSGR0000281849
rowData names(0):
colnames(151): 1409/019/047_D6 1409/019/047_baseline ...
  1589/019/227_D6 1589/019/227_baseline
colData names(3): sample_id volunteer_id timepoint

In [19]:
saveRDS(rnaseq_exp, 'data//tidy_data//LAIV2_rnaseq.rds')

## AGES

In [20]:
data <- readRDS('data/raw_data/AGES/Robj/AGES_studyObj.rds')

In [21]:
rnaseq_exp = data[["RNA-Seq"]]
rnaseq_exp

class: SummarizedExperiment
dim: 40493 133
metadata(0):
assays(1): ''
rownames(40493): ENSG00000223972 ENSG00000227232 ... ENSG00000210195
  ENSG00000210196
rowData names(6): Geneid Chr ... Strand Length
colnames(133): S1234_018_020_baseline S1290_018_076_D2 ...
  S1254_018_040_baseline S1228_018_014_D9
colData names(10): sample_id batch ... age has_baseline

In [22]:
count_data = assay(rnaseq_exp)
count_data[1:4,1:5]

                S1234_018_020_baseline S1290_018_076_D2 S1264_018_050_D9
ENSG00000223972  0                     0                0
ENSG00000227232 15                     6                4
ENSG00000278267  1                     0                0
ENSG00000243485  0                     2                0
                S1232_018_018_D9 S1254_018_040_D2
ENSG00000223972 0                0
ENSG00000227232 8                9
ENSG00000278267 0                1
ENSG00000243485 0                0

In [23]:
pheno_data = as.data.frame(colData(rnaseq_exp)) %>% 
    mutate(volunteer_id = gsub('_','\\/',volunteer_id)) %>%
    select(sample_id, volunteer_id, timepoint)
colnames(count_data) <- rownames(pheno_data) <- with(pheno_data, paste0(volunteer_id,'_',timepoint))
head(pheno_data)

                      sample_id  volunteer_id timepoint
1234/018/020_baseline S00281191B 1234/018/020 baseline
1290/018/076_D2       S00223716B 1290/018/076 D2
1264/018/050_D9       S00281231B 1264/018/050 D9
1232/018/018_D9       S00281218B 1232/018/018 D9
1254/018/040_D2       S00281212B 1254/018/040 D2
1290/018/076_D9       S00224138B 1290/018/076 D9

In [24]:
rnaseq_exp = SummarizedExperiment(assays = count_data, colData = pheno_data)
rnaseq_exp

class: SummarizedExperiment
dim: 40493 133
metadata(0):
assays(1): ''
rownames(40493): ENSG00000223972 ENSG00000227232 ... ENSG00000210195
  ENSG00000210196
rowData names(0):
colnames(133): 1234/018/020_baseline 1290/018/076_D2 ...
  1254/018/040_baseline 1228/018/014_D9
colData names(3): sample_id volunteer_id timepoint

In [25]:
saveRDS(rnaseq_exp, 'data//tidy_data//AGES_rnaseq.rds')

# Combine RNA-Seq data from studies
Merge each rnaseq data (SummarizedExperiment) into a single SummarizedExperiment

From *data/tidy_data/*:
- MUCOSAL: MUCOSAL_rnaseq.rds  
- LAIV1: LAIV1_rnaseq.rds    
- LAIV2: LAIV2_rnaseq.rds  
- AGES: AGES_rnaseq.rds

To *data/tidy_data/__rnaseq.rds__*

In [33]:
ls()
rm('count_data','data','pheno_data','rnaseq_exp')
ls()

[1] "pkgs"

Warning message in rm("count_data", "data", "pheno_data", "rnaseq_exp"):
“object 'count_data' not found”
Warning message in rm("count_data", "data", "pheno_data", "rnaseq_exp"):
“object 'data' not found”
Warning message in rm("count_data", "data", "pheno_data", "rnaseq_exp"):
“object 'pheno_data' not found”
Warning message in rm("count_data", "data", "pheno_data", "rnaseq_exp"):
“object 'rnaseq_exp' not found”

[1] "pkgs"

In [34]:
MUCOSAL = readRDS('data//tidy_data//MUCOSAL_rnaseq.rds')

In [35]:
LAIV1 = readRDS('data//tidy_data//LAIV1_rnaseq.rds')

In [36]:
LAIV2 = readRDS('data//tidy_data//LAIV2_rnaseq.rds')

In [37]:
AGES = readRDS('data//tidy_data//AGES_rnaseq.rds')

### Create MultiAssayExperiment

In [38]:
head(as.data.frame(colData(MUCOSAL)))

                      sample_id volunteer_id timepoint
0100/015/007_baseline S00149245 0100/015/007 baseline
0100/015/007_D2       S00149858 0100/015/007 D2
0285/015/009_baseline S00149406 0285/015/009 baseline
0285/015/009_D2       S00150037 0285/015/009 D2
1000/015/002_D2       S00149384 1000/015/002 D2
1000/015/002_baseline S00149461 1000/015/002 baseline

In [39]:
head(as.data.frame(colData(LAIV1)))

                      sample_id volunteer_id timepoint
0231/016/006_D2       S00163703 0231/016/006 D2
0231/016/006_baseline S00162909 0231/016/006 baseline
0231/016/006_D9       S00165160 0231/016/006 D9
1025/016/009_D9       S00156618 1025/016/009 D9
1025/016/009_D2       S00155297 1025/016/009 D2
1025/016/009_baseline S00154295 1025/016/009 baseline

In [40]:
head(as.data.frame(colData(LAIV2)))

                      sample_id  volunteer_id timepoint
1409/019/047_D6       S00198890A 1409/019/047 D6
1409/019/047_baseline S00196312A 1409/019/047 baseline
1409/019/047_D9       S00217244A 1409/019/047 D9
1434/019/072_baseline S00196311A 1434/019/072 baseline
1434/019/072_D9       S00199344A 1434/019/072 D9
1434/019/072_D6       S00198891A 1434/019/072 D6

In [41]:
head(as.data.frame(colData(AGES)))

                      sample_id  volunteer_id timepoint
1234/018/020_baseline S00281191B 1234/018/020 baseline
1290/018/076_D2       S00223716B 1290/018/076 D2
1264/018/050_D9       S00281231B 1264/018/050 D9
1232/018/018_D9       S00281218B 1232/018/018 D9
1254/018/040_D2       S00281212B 1254/018/040 D2
1290/018/076_D9       S00224138B 1290/018/076 D9

In [49]:
rnaseq = cbind(MUCOSAL, LAIV1, LAIV2)
rnaseq

class: SummarizedExperiment
dim: 60554 274
metadata(0):
assays(1): ''
rownames(60554): ENSG00000000003 ENSG00000000005 ... ENSGR0000280767
  ENSGR0000281849
rowData names(0):
colnames(274): 0100/015/007_baseline 0100/015/007_D2 ...
  1589/019/227_D6 1589/019/227_baseline
colData names(3): sample_id volunteer_id timepoint

In [ ]:
saveRDS()